name: rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Update
      run: cargo update
    - name: Check
      run: cargo check --all
    - name: Install cargo-nextest
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-nextest
        args: --locked
    - name: Run tests
      run: cargo nextest run --all-features --workspace --profile=ci
    - name: Upload Test Report
      uses: actions/upload-artifact@v6
      if: always() # always run even if the previous step fails
      with:
        name: junit-test-results
        path: './target/nextest/ci/junit.xml'
        retention-days: 1
